
.container {
  max-width: auto;
  margin: 0 auto;
}

.vertical-timeline-element-content {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 3px #e5e5e5;
  background-color: #fff;
  color: #000;
}

.vertical-timeline-element-content:before {
  border-right: 8px solid #f9f9f9;
}

.vertical-timeline-element-icon {
  background-color: #26589E;
  color: #fff;
}

.vertical-timeline-element-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
}
